# Dependencias
/node_modules

# Archivos generados por el editor
.idea
.vscode

# Archivos y directorios generados por Angular CLI
/dist
/e2e/*.log
/e2e/*.screenshot
/e2e/*.xml
/e2e/coverage
/e2e/output
/e2e/screenshots

# Archivos de registro
*.log

# Archivos temporales
*.swp
*~
.DS_Store

# Entornos de desarrollo locales
.env