.header {
  display: flex;
  padding: 8px;
  background: #212226;
}
.logo-container {
  width: 200px;
}
.logo-container img {
  width: 100%;
}
.searcher-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.input-container {
  border-radius: 15px;
  background-color: #08090E;
}
.input-container .input-container__input {
  width: 300px;
  padding: 8px 8px 8px 14px;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  background: transparent;
  color: #757575;
}