.app-container {
  background: #212226;
}
.title-section-container h1 {
  color: white;
  font-family: 'Arial';
  font-size: 20px;
  padding: 20px;
  border-top: .6px solid #eaeaea;
  border-bottom: .6px solid #eaeaea;
}
.main-content-container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}
@media (max-width: 800px) {
  .main-content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
